var handler = require('{{ .Path }}');
var http = require('http');

//create a server object:
http.createServer(function (req, res) {
  try {
    var result = handler.main(null, req);
    res.write(result);

  } catch (err) {
    res.write(err);
    res.statusCode = 500;
  }
  res.end(); //end the response
}).listen(8080);